@charset "UTF-8";
/*字色*/
/*padding margin*/
/*font*/
/*圈角*/
/**.box { 
     @include border-radius(10px); 
}
**/
/*透明度*/
/**
.image{
    @include opacity(.8);
}
**/
/*漸層*/
/**
.button{
    @include linearGradient(#cccccc, #666666);
}
**/
/*rwd*/
/**
.main{
    width:1100px;
    @include breakpoint(940) { width:100%; }
}
**/
/** 水平 垂直 置中**/
/**
.bar {
  @include ctr(both);
}
**/
/**
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}
**/
/*
.container-with-floated-children {
  @extend %clearfix;
}
*/
body {
  font-family: "Segoe UI", "微軟正黑體", sans-serif;
  background-color: #F4F4F4;
  transition: all 1.5s;
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
}

.index-bg {
  background-image: url();
}

.p-bg {
  background-image: url();
}

.nodata {
  width: 100%;
  text-align: center;
  padding-top: 20%;
}

@media only screen and (max-width: 767px) {
  .nodata img {
    width: 100%;
  }
}

.color_r {
  color: #D0021B;
}

.color_r:hover {
  color: #D0021B;
}

.color_r2 {
  color: #FF4C4C;
}

.color_r2:hover {
  color: #FF4C4C;
}

.color_g {
  color: #00D420;
}

.color_g:hover {
  color: #00D420;
}

.color_g2 {
  color: #32AD86;
}

.color_g2:hover {
  color: #32AD86;
}

.color_gr {
  color: #5e5e5e;
}

.color_gr:hover {
  color: #5e5e5e;
}

.color_gr2 {
  color: #9E9E9E;
}

.color_gr2:hover {
  color: #9E9E9E;
}

.h-hover {
  cursor: pointer;
}

.container {
  max-width: 1200px;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.ic-view {
  background-image: url(../images/ic_view.png);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 14px;
  height: 14px;
  margin-top: 5px;
  margin-right: 5px;
}

.ic-time {
  background-image: url(../images/ic_time.png);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 14px;
  height: 14px;
  margin-top: 5px;
  margin-right: 5px;
}

.navbar-toggler {
  border-color: #fcfcfc;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 252, 252)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.modal-header,
.modal-footer {
  border: 0px;
}

.modal-content .modal-body {
  font-size: 14px;
}

.modal-content .modal-body .nav-issue {
  font-size: 14px;
}

.modal-content .modal-body .nav-issue .nav-item:first-child .nav-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.modal-content .modal-body .nav-issue .nav-item:last-child .nav-link {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.modal-content .modal-body .nav-issue .nav-item .nav-link {
  position: relative;
  display: block;
  width: 90px;
  text-align: center;
  padding: .6rem .8rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000;
  background-color: #fff;
  border: 1px solid #FF6C6C;
}

.modal-content .modal-body .nav-issue .nav-item .nav-link:hover {
  background-color: #ffd6d6;
}

.modal-content .modal-body .nav-issue .nav-item .nav-link.active {
  color: white;
  background-color: #FF6C6C;
}

.modal-content .modal-body .form-group .form-control-double {
  display: inline-block;
  width: 50px;
  height: calc(1.5em + .5rem + 2px);
  padding: .375rem .75rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  color: #495057;
  background-color: #EEEEEE;
  background-clip: padding-box;
  border: 1px solid #EEEEEE;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.form-control2 {
  font-size: 0.8rem;
  width: 100%;
  padding: 2%;
  border: 0px;
  border-radius: 3px;
  border: 1px solid #F3F3F3;
  background: #F3F3F3;
}

.form-control2:focus {
  outline: none !important;
  border: 1px solid #f85f62;
  -webkit-box-shadow: 0 0 3px #fd7e1475;
          box-shadow: 0 0 3px #fd7e1475;
}

.ck-ticket {
  font-size: 1.2rem;
  color: white;
  width: 100%;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-box-shadow: #f96f78 0px 3px 6px;
  box-shadow: #f96f78 0px 3px 6px;
  background: #f85f62;
  background: linear-gradient(45deg, #f85f62 0%, #fcd098 100%);
}

.ck-ticket:hover {
  text-decoration: none;
  color: white;
}

.ck-ticket2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  width: 100%;
  padding: 10px 30px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 6px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-box-shadow: #FFD843 0px 3px 6px;
  box-shadow: #FFD843 0px 3px 6px;
  background: #FFD843;
  background: linear-gradient(45deg, #FFD843 0%, #fcd098 100%);
}

.ck-ticket3 {
  font-size: 12px;
  color: #676767;
  border-radius: 3px;
  padding: 6px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid #c7c7c7;
}

.ck-ticket3:hover {
  color: #F44336;
  border: 1px solid #F44336;
}

.ck-ok {
  font-size: 1.1rem;
  color: white;
  width: 100%;
  padding: 6px 16px;
  text-align: center;
  border-radius: 6px;
  border: 0px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-box-shadow: #f96f78 0px 3px 6px;
  box-shadow: #f96f78 0px 3px 6px;
  background: #f85f62;
  background: linear-gradient(45deg, #f85f62 0%, #fcd098 100%);
}

.ck-ok:hover {
  color: white;
}

.ck-rd {
  font-size: 1.1rem;
  color: #f96f78;
  width: 100%;
  padding: 6px 16px;
  text-align: center;
  border-radius: 6px;
  border: 0px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-box-shadow: #f96f78 0px 3px 6px;
  box-shadow: #f96f78 0px 3px 6px;
  background: #fff;
}

.ck-rd:hover {
  color: white;
}

.btn-close {
  font-size: 1.1rem;
  color: black;
  padding: 8px 20px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-ok {
  font-size: 1.1rem;
  color: white;
  padding: 8px 20px;
  text-align: center;
  border-radius: 6px;
  border: 0px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  background: linear-gradient(45deg, #f85f62 0%, #fcd098 100%);
}

.btn-copy {
  font-size: 0.9rem;
  color: #1973bd;
  padding: .45rem .75rem;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-copy:hover {
  color: #2196f3;
  text-decoration: none;
}

.custom-select {
  height: calc(1.5em + 1.75rem + 2px);
  padding: 0.9rem 1.75rem 0.9rem .75rem;
}

.imp2 {
  font-size: 0.9rem;
  color: #FF4C4C;
  line-height: 190%;
  padding-top: 10px;
}

.topbar {
  font-size: 16px;
  height: 9px;
  vertical-align: middle;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f85f62+0,f1da36+100 */
  background: #f85f62;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f85f62), to(#f1da36));
  background: linear-gradient(to right, #f85f62 0%, #f1da36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.topbar .service {
  color: white;
  font-size: 14px;
  padding-top: 12px;
}

.navbar-brand {
  left: 0px;
  top: 0px;
  padding: 0px;
  display: block;
  width: 290px;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    padding-top: 20px;
    width: 190px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    background-color: #a52f2f;
    margin-top: 9px;
    z-index: 50;
    border-radius: 10px;
    padding: 10px 0px;
  }
}

.topmenu {
  height: 80px;
  background-color: #CE4141;
  -webkit-box-shadow: #443b3b57 6px 7px 7px 1px;
          box-shadow: #443b3b57 6px 7px 7px 1px;
  position: relative;
}

.menu-list .navbar-nav .nav-link {
  padding-right: 12px;
  padding-left: 12px;
}

@media only screen and (max-width: 767px) {
  .menu-list .navbar-nav .nav-link {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .menu-list .navbar-nav .dropdown-menu {
    width: 100%;
    position: relative;
  }
}

.menu-list ul {
  width: 100%;
}

.menu-list ul li {
  text-align: center;
  height: 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .menu-list ul li {
    height: auto;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu-list ul li > a {
  color: white;
  display: block;
  border-radius: 10px;
}

.menu-list ul li > a:hover {
  color: white;
  background-color: #442020;
}

.menu-list ul li > a.active {
  color: white;
  background-color: #442020;
}

@media only screen and (max-width: 767px) {
  .menu-list ul li > a.active {
    border-radius: 0px;
  }
}

.menu-list ul li > a i {
  display: block;
  width: 24px;
  height: 24px;
  margin: 6px auto;
}

.menu-list ul li .dropdown-menu {
  background-color: #292929f0;
  border: 0px;
  -webkit-box-shadow: #6d2323e0 4px 7px 11px 0px;
          box-shadow: #6d2323e0 4px 7px 11px 0px;
}

.menu-list ul li .dropdown-menu .dropdown-item {
  color: white;
}

.menu-list ul li .dropdown-menu .dropdown-item:hover {
  color: #FF6C6C;
  background-color: #292929;
}

.menu-list ul li .dropdown-menu .dropdown-item.active {
  color: #FF6C6C;
  background-color: #292929;
}

.menu-list ul li .dropdown-menu .dropdown-item i {
  width: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  padding-right: 5px;
}

.menu-list ul li .dropdown-menu .dropdown-divider {
  border-top: 1px solid #848484;
}

marquee {
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 6px;
  line-height: 20px;
  position: relative;
}

marquee::after {
  content: "";
  position: absolute;
  background-color: #f4f4f4;
  background-image: url(../images/speakericon.png);
  width: 24px;
  height: 20px;
  top: 16px;
  left: 0px;
}

.breadcrumb-bg {
  background-color: black;
  background-image: url(../images/index/sliderbg.jpg);
  background-size: cover;
  padding: 50px 0px 0px 0px;
}

@media only screen and (max-width: 767px) {
  .breadcrumb-bg {
    padding: 15px 10px 15px 10px;
  }
  .breadcrumb-bg .sub-menu ul li .dropdown-menu.show .col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    text-align: left;
  }
}

.breadcrumb {
  color: white;
  font-size: 0.8rem;
  padding: 0.85rem 1rem;
  height: 45px;
  margin-bottom: 0rem;
  list-style: none;
  background-color: #442020c7;
  position: absolute;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

@media only screen and (max-width: 767px) {
  .breadcrumb {
    display: none;
  }
}

.breadcrumb a {
  color: #F85F62;
}

.sub-menu {
  position: relative;
  font-size: 0px;
  padding-bottom: 10px;
}

.sub-menu ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

.sub-menu ul > li {
  margin: 2px 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
}

@media only screen and (max-width: 767px) {
  .sub-menu ul > li {
    width: 47.61905%;
  }
}

.sub-menu ul > li > a {
  font-size: 1rem;
  color: white;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.709804);
  border-radius: 6px;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .sub-menu ul > li > a {
    width: 100%;
    text-align: center;
  }
}

.sub-menu ul > li > a:hover {
  background-color: #CA3030;
}

.sub-menu ul > li > a.active {
  background-color: #CA3030;
}

.moredraw {
  min-width: 550px;
  background-color: #000000de;
  border: 0px;
  -webkit-box-shadow: 2px 3px 10px #828282;
  box-shadow: 2px 3px 10px #828282;
}

@media only screen and (max-width: 767px) {
  .moredraw {
    min-width: 100%;
  }
}

.moredraw .row {
  padding: 10px 0px;
  border-bottom: 1px solid #6f6f6f;
}

.moredraw .row:last-child {
  border-bottom: 0px;
}

.moredraw a {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.moredraw a.active {
  color: #f85252;
}

.moredraw a:hover {
  color: #f85252;
}

.custom-select {
  height: 40px;
  padding: 0rem 1rem;
}

.win-o-title {
  font-size: 1.2rem;
  position: relative;
  padding: 10px 15px;
}

.win-o-title a {
  color: #353535;
  font-size: 0.8rem;
}

.win-o-title a:hover {
  color: #B30000;
}

.win-o-title:before {
  content: "";
  width: 5px;
  height: 25px;
  display: block;
  position: absolute;
  left: 0;
  background-color: #B30000;
}

.d-s-number {
  font-size: 0px;
  list-style-type: none;
  padding-left: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.d-s-number li {
  color: white;
  font-size: 1.2rem;
  margin: 1px 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: #B30000;
  background-image: radial-gradient(farthest-corner at 15% 10px, #FFA3A3 0%, #B30000 100%);
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 100%;
}

.d-s-number .gray {
  background-color: #ccc;
  background-image: radial-gradient(farthest-corner at 50% 20px, #ccc 0%, #bbbb 100%);
  background-repeat: no-repeat;
  background-position: top;
}

.d-s-number .blue {
  background-color: #4A90E2;
  background-image: radial-gradient(farthest-corner at 50% 20px, #A8D0FF 0%, #4A90E2 100%);
  background-repeat: no-repeat;
  background-position: top;
}

.f-custom-table {
  min-width: 100%;
}

.f-custom-table th {
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  padding: .75rem;
  display: none;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
}

.f-custom-table tr {
  border-top: 2px solid #d0d0d0;
  background-color: white;
}

.f-custom-table tr:hover {
  background-color: #f9f9f9 !important;
}

.f-custom-table tr:first-child {
  border-top: 0px solid #BDBDBD;
}

@media only screen and (max-width: 767px) {
  .f-custom-table tr:first-child {
    border-top: 2px solid #BDBDBD;
  }
}

.f-custom-table td {
  font-size: 15px;
  padding: .55rem;
  display: block;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  .f-custom-table td {
    border: 0px;
    border-bottom: 1px solid #dee2e6;
  }
}

.f-custom-table td:before {
  content: attr(data-th) " : ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

.f-custom-table td:nth-child(1) {
  font-size: 15px;
  color: #32AD86;
  width: 20%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .f-custom-table td:nth-child(1) {
    text-align: left;
    width: 100%;
  }
}

.f-custom-table td:nth-child(2) {
  font-size: 15px;
  color: #5e5e5e;
  width: 30%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .f-custom-table td:nth-child(2) {
    text-align: left;
    width: 100%;
  }
}

.f-custom-table td:nth-child(3) {
  width: 50%;
  font-size: 15px;
  color: #FF4C4C;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .f-custom-table td:nth-child(3) {
    text-align: left;
    width: 100%;
  }
}

.f-custom-table td:nth-child(3) span {
  color: #1973bd;
}

.f-custom-table td:nth-child(4) {
  font-size: 14px;
  width: 22%;
}

@media only screen and (max-width: 767px) {
  .f-custom-table td:nth-child(4) {
    width: 100%;
  }
}

.f-custom-table td:nth-child(4) i {
  margin-right: 6px;
}

.f-custom-table td:nth-child(4) i img {
  width: 25px;
}

.f-custom-table td:nth-child(4) .bcard {
  font-size: 12px;
  padding-left: 31px;
}

.f-custom-table td:nth-child(4) .bcard .red {
  color: white;
  padding: 3px 6px;
  background-color: #FD5B6F;
  border-radius: 6px;
  margin: 0 2px;
}

.f-custom-table td:nth-child(4) .bcard .yellow {
  color: white;
  padding: 3px 6px;
  background-color: #F8BD1C;
  border-radius: 6px;
  margin: 0 2px;
}

.f-custom-table td:nth-child(5) {
  color: #29991E;
  font-size: 18px;
  padding-top: 1.2%;
  text-align: center;
  line-height: 90%;
  vertical-align: middle;
}

.f-custom-table td:nth-child(5) b {
  color: black;
  font-weight: 400;
}

.f-custom-table td:nth-child(5) .overtime {
  color: #FD5B6F;
  font-size: 12px;
}

/***table rwd***/
@media (min-width: 500px) {
  .f-custom-table td:before {
    display: none;
  }
  .f-custom-table th,
  .f-custom-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .f-custom-table th:first-child,
  .f-custom-table td:first-child {
    padding-left: 0;
  }
  .f-custom-table th:last-child,
  .f-custom-table td:last-child {
    padding-right: 0;
  }
  .f-custom-table th,
  .f-custom-table td {
    padding: 1em !important;
  }
}

.t-gray td:nth-child(3) {
  width: 50%;
  font-size: 15px;
  color: #5e5e5e;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .t-gray td:nth-child(3) {
    text-align: left;
    width: 100%;
  }
}

.t-gray td:nth-child(3) span {
  color: #1973bd;
}

footer {
  font-size: 14px;
  color: white;
  width: 100%;
  padding: 20px 0px;
  background: #641B1B;
}

footer ul {
  padding-left: 0px;
  margin-bottom: 0rem;
}

footer ul li {
  padding: 0px 12px 0 10px;
  display: inline-block;
  position: relative;
}

footer ul li:after {
  content: "|";
  position: absolute;
  right: 0;
  top: 0;
}

footer ul li a {
  color: #E6E6E6;
  text-decoration: none;
}

footer ul li a:hover {
  color: #f4dc3e;
  text-decoration: none;
}

footer .copyright {
  color: #FDA2A2;
}

footer .copyright a {
  color: #ffe0e0;
  text-decoration: none;
}

footer .copyright a:hover {
  color: #f4dc3e;
  text-decoration: none;
}

/***page NEWS***/
.news-box2 {
  border-radius: 10px 10px 10px 10px;
  background: #ffffff;
  padding-bottom: 3px;
}

@media only screen and (max-width: 767px) {
  .news-box2 {
    margin-top: 20px;
  }
}

.news-box2 h1.newsmore {
  display: block;
  font-size: 1rem;
  text-align: right;
  padding: 18px;
  padding-left: 20px;
  border-bottom: 1px solid #d02015;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.news-box2 h1.newsmore .news-title {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0px;
  left: 20px;
  margin-top: -5px;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: #B30000;
  background-image: radial-gradient(farthest-corner at 90% 20px, #FF4040 0%, #B30000 100%);
  background-repeat: no-repeat;
  background-position: top right;
}

.news-box2 h1.newsmore a {
  color: black;
  font-size: 0.9rem;
  text-decoration: none;
}

.news-box2 h1.newsmore a:hover {
  color: #B30000;
}

.news-box2 .news-list {
  list-style-type: none;
  padding-left: 20px;
}

.news-box2 .news-list li {
  padding: 5px;
}

.news-box2 .news-list li .date {
  color: #bdbdbd;
  font-size: 0.9rem;
}

.news-box2 .news-list li a {
  color: #181515;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.news-box2 .news-list li a:hover {
  color: #B30000;
}

.rule-box {
  border-radius: 10px 10px 10px 10px;
  background: #ffffff;
  padding-bottom: 3px;
  -webkit-filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.2));
}

@media only screen and (max-width: 767px) {
  .rule-box {
    margin-top: 20px;
  }
}

.rule-box h1.rulemore {
  display: block;
  font-size: 1rem;
  text-align: right;
  height: 56px;
  padding: 18px;
  padding-left: 20px;
  border-bottom: 1px solid #d02015;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.rule-box h1.rulemore .rule-title {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0px;
  left: 6px;
  margin-top: -5px;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: #B30000;
  background-image: radial-gradient(farthest-corner at 90% 20px, #FF4040 0%, #B30000 100%);
  background-repeat: no-repeat;
  background-position: top right;
}

.rule-box h1.rulemore a {
  color: black;
  font-size: 0.9rem;
  text-decoration: none;
}

.rule-box h1.rulemore a:hover {
  color: #B30000;
}

.rule-box .rule-list {
  list-style-type: none;
  padding-left: 0px;
}

.rule-box .rule-list li {
  border-bottom: 1px solid #e4e4e4;
}

.rule-box .rule-list li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  color: #181515;
  padding: 15px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.rule-box .rule-list li a:hover {
  color: #B30000;
}

.rule-box .rule-list li a.active {
  color: #B30000;
}

/***頁籤***/
.page {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page .page-item.disabled .page-link {
  color: #cecece;
}

.page .page-link {
  color: #8a8a8a;
  border: 0px;
}

.page .page-link:hover, .page .page-link.active {
  color: #F85F62;
  border-radius: 6px;
  background-color: #f1f1f1;
}

/***index***/
.login {
  padding: 8%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: #4242423d 0px 2px 10px;
          box-shadow: #4242423d 0px 2px 10px;
  border-radius: 10px;
}

.login h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #252525;
}

.login #Login .forgot-join {
  margin-bottom: 0.8rem;
}

.login #Login .forgot-join a {
  font-size: 0.8rem;
  color: #252525;
  text-decoration: none;
}

.login #Login .forgot-join a:hover {
  color: #f85f62;
}

.login #Login .membercenter {
  margin-bottom: 1rem;
}

.login #Login .membercenter a {
  font-size: 1rem;
  color: #f85f62;
  text-decoration: none;
}

.login #Login .membercenter a:hover {
  color: #f85f62;
}

.login #Login .name {
  color: #252525;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px dashed #bfbfbf;
  border-radius: 10px;
}

.login #Login .overage {
  color: #f15050;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px dashed #f3bd3e;
  border-radius: 10px;
}

.login-form {
  font-size: 0.8rem;
  width: 100%;
  padding: 4%;
  border: 0px;
  border-radius: 3px;
  border: 1px solid #F3F3F3;
  background: #F3F3F3;
}

.login-form:focus {
  outline: none !important;
  border: 1px solid #f85f62;
  -webkit-box-shadow: 0 0 3px #fd7e1475;
          box-shadow: 0 0 3px #fd7e1475;
}

.btn-login {
  width: 100%;
  color: white;
  border: 0px;
  border-radius: 100px;
  -webkit-box-shadow: #f68553 0px 6px 10px;
          box-shadow: #f68553 0px 6px 10px;
  background: #f85f62;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f85f62 0%, #f1da36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-login:hover {
  color: white;
}

.slider-bg {
  background-color: black;
  background-image: url(../images/index/sliderbg.jpg);
  background-size: cover;
  padding: 20px 0px 0px 0px;
}

.slider-bg #myCarousel {
  border-radius: 10px;
  overflow: hidden;
}

.slider-bg .carousel-indicators {
  position: static;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.carousel-item {
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .carousel-item {
    height: 270px;
  }
}

@media only screen and (max-width: 850px) {
  .carousel-item {
    height: 230px;
  }
}

@media only screen and (max-width: 767px) {
  .carousel-item {
    height: 205px;
  }
}

@media only screen and (max-width: 500px) {
  .carousel-item {
    height: 98px;
  }
}

.carousel-control-next,
.carousel-control-prev {
  height: 350px;
}

@media only screen and (max-width: 1000px) {
  .carousel-control-next,
  .carousel-control-prev {
    height: 270px;
  }
}

@media only screen and (max-width: 850px) {
  .carousel-control-next,
  .carousel-control-prev {
    height: 230px;
  }
}

@media only screen and (max-width: 767px) {
  .carousel-control-next,
  .carousel-control-prev {
    height: 205px;
  }
}

@media only screen and (max-width: 500px) {
  .carousel-control-next,
  .carousel-control-prev {
    height: 98px;
  }
}

/***开奖信息***/
.draw-bg {
  background-color: #FDF5D1;
  background-image: url(../images/index/drawbg.png), radial-gradient(farthest-corner at 50% 40px, #FDEDE9 0%, #FDF5D1 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, top;
  /** background-image: url(../images/index/drawbg.jpg); 
    background-size: cover;**/
}

.draw-bg:before {
  content: "";
  background-image: url(../images/draw_pic.png);
  display: block;
  position: absolute;
  width: 294px;
  height: 397px;
  left: 0;
  bottom: -200px;
}

.draw-box {
  border-radius: 10px 10px 10px 10px;
  background: #ffffff;
  -webkit-filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.2));
}

.draw-box h1.draw-name {
  display: block;
  font-size: 1rem;
  padding: 13px;
  padding-left: 20px;
  border-bottom: 1px solid #d02015;
  border-radius: 10px 10px 0px 0px;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.draw-box h1.draw-name span {
  color: #d02015;
  font-size: 1.5rem;
}

.draw-box .draw-list {
  border-bottom: 1px solid #ccc;
  margin: 0px;
}

.draw-box .draw-list:last-child {
  border-bottom: 0px;
}

.draw-box .draw-list .d-logo {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .draw-box .draw-list .d-text {
    text-align: center;
  }
}

.draw-box .draw-list .title {
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .draw-box .draw-list .title {
    padding-top: 10px;
  }
}

.draw-box .draw-list .title span {
  padding-left: 8px;
  color: red;
}

.draw-box .draw-list .d-number {
  font-size: 0;
  list-style-type: none;
  padding-left: 0px;
  padding-top: 10px;
}

.draw-box .draw-list .d-number li {
  color: white;
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  margin: 2px 3px;
  background-color: #B30000;
  background-image: radial-gradient(farthest-corner at 15% 10px, #FFA3A3 0%, #B30000 100%);
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 100%;
}

@media only screen and (max-width: 767px) {
  .draw-box .draw-list .d-number li {
    width: 30px;
    height: 30px;
    margin-top: 3px;
  }
}

.draw-box .draw-list .d-number .blue {
  background-color: #4A90E2;
  background-image: radial-gradient(farthest-corner at 15% 10px, #A8D0FF 0%, #4A90E2 100%);
  background-repeat: no-repeat;
  background-position: top;
}

.draw-box .draw-list .d-info {
  padding: 5px 0px;
}

.draw-box .draw-list .d-info h5 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  color: #CF5564;
}

.draw-box .draw-list .d-info .d-info-link {
  font-size: 0px;
  padding-top: 10px;
  text-align: center;
}

.draw-box .draw-list .d-info .d-info-link a {
  font-size: 1rem;
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 3px 15px;
  margin: 2px 3px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-bottom: 1px solid #ccc;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
}

/***NEWS***/
.news-box {
  border-radius: 10px 10px 10px 10px;
  background: #ffffff;
  padding-bottom: 3px;
  -webkit-filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.2));
}

@media only screen and (max-width: 767px) {
  .news-box {
    margin-top: 20px;
  }
}

.news-box h1.newsmore {
  display: block;
  font-size: 1rem;
  text-align: right;
  padding: 18px;
  padding-left: 20px;
  border-bottom: 1px solid #d02015;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.news-box h1.newsmore .news-title {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0px;
  left: 20px;
  margin-top: -5px;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: #B30000;
  background-image: radial-gradient(farthest-corner at 90% 20px, #FF4040 0%, #B30000 100%);
  background-repeat: no-repeat;
  background-position: top right;
}

.news-box h1.newsmore a {
  color: black;
  font-size: 0.9rem;
  text-decoration: none;
}

.news-box h1.newsmore a:hover {
  color: #B30000;
}

.news-box .news-list {
  list-style-type: none;
  padding-left: 20px;
}

.news-box .news-list li {
  padding: 9px;
}

.news-box .news-list li .date {
  color: #bdbdbd;
  font-size: 0.9rem;
}

.news-box .news-list li a {
  color: #181515;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.news-box .news-list li a:hover {
  color: #B30000;
}

/***下方廣告***/
.ad-bg {
  background-color: #FDF5D1;
  background-image: url(../images/index/adbg.png), radial-gradient(farthest-corner at 10% 40px, #E6E6E6 0%, #C5C9DA 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, top;
  /** background-image: url(../images/index/drawbg.jpg); 
    background-size: cover;**/
}

.ad-bg .adlink {
  display: block;
  width: 100%;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}

@media only screen and (max-width: 767px) {
  .ad-bg .adlink {
    margin-bottom: 10px;
  }
}

/***qrcode***/
.qr-bg {
  background-color: #FDF5D1;
  background-image: radial-gradient(farthest-corner at 50% 20px, #D05A5A 0%, #940C0C 100%);
  background-repeat: no-repeat;
  background-position: top;
}

.qr-bg .qr-box {
  color: white;
  padding: 16px;
  border-radius: 10px;
  background-color: #591414;
}

@media only screen and (max-width: 767px) {
  .qr-bg .qr-box {
    margin-bottom: 10px;
  }
}

.qr-bg .qr-box p {
  padding: 3px 0px;
  margin-bottom: 0px;
}

/***开奖信息***/
.draw-bg {
  background-color: #FDF5D1;
  background-image: url(../images/index/drawbg.png), radial-gradient(farthest-corner at 50% 40px, #FDEDE9 0%, #FDF5D1 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, top;
  /** background-image: url(../images/index/drawbg.jpg); 
    background-size: cover;**/
}

.draw-box2 {
  border-radius: 10px;
  background: #ffffff;
  padding: 0px 30px 30px 30px;
  -webkit-filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.2));
}

.draw-box2 .draw-tab {
  padding: 15px 20px 0px 20px;
  padding-left: 35px;
  margin-left: -30px;
  margin-right: -30px;
  border-bottom: 1px solid #d02015;
}

@media only screen and (max-width: 1000px) {
  .draw-box2 .draw-tab {
    padding: 15px 20px 10px 20px;
  }
}

.draw-box2 .draw-tab li {
  margin-right: 2px;
  list-style-type: none;
  display: inline-block;
}

@media only screen and (max-width: 1000px) {
  .draw-box2 .draw-tab li {
    padding: 2px;
  }
}

.draw-box2 .draw-tab li a {
  color: #353535;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  background-color: white;
  border: 1px solid #d02015;
  border-bottom: 0px solid #d02015;
  border-radius: 10px 10px 0px 0px;
}

@media only screen and (max-width: 1000px) {
  .draw-box2 .draw-tab li a {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #d02015;
    border-bottom: 1px solid #d02015;
  }
}

.draw-box2 .draw-tab li a:hover {
  background-color: #ffcccb;
}

.draw-box2 .draw-tab li.active a {
  color: white;
  display: block;
  background-color: #b30000;
}

.draw-box2 h1.draw-name {
  display: block;
  font-size: 1rem;
  padding: 13px 30px;
  margin-bottom: 30px;
  margin-left: -30px;
  margin-right: -30px;
  border-bottom: 1px solid #d02015;
  border-radius: 10px 10px 0px 0px;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.draw-box2 h1.draw-name span {
  color: #d02015;
  font-size: 1.5rem;
}

.draw-box2 .draw-area:last-child {
  border-bottom: 0px;
}

.draw-box2 .draw-area .d-logo {
  text-align: center;
}

.draw-box2 .draw-area .d-logo a.old {
  font-size: 1rem;
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 3px 15px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-bottom: 1px solid #ccc;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
}

@media only screen and (max-width: 767px) {
  .draw-box2 .draw-area .d-logo a.old {
    display: block;
  }
}

.draw-box2 .draw-area .opendate {
  padding-top: 14px;
}

.draw-box2 .draw-area .title {
  font-size: 1rem;
  font-weight: 400;
}

.draw-box2 .draw-area .title span {
  padding-left: 8px;
  color: red;
}

.draw-box2 .draw-area .draw-time {
  font-size: 1.1rem;
  text-align: center;
}

.draw-box2 .draw-area .draw-time .period span {
  color: red;
}

.draw-box2 .draw-area .draw-time .period a {
  color: black;
  display: block;
  padding: 6px 15px;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  text-decoration: none;
}

.draw-box2 .draw-area .draw-time .period a:hover {
  color: #D05A5A;
}

.draw-box2 .draw-area .draw-time .date-time {
  padding: 10px 0px;
}

.draw-box2 .draw-area .draw-time .date-time span {
  line-height: 200%;
  color: yellow;
  background-color: black;
  padding: 5px 10px;
  margin: 10px 2px;
  border-radius: 6px;
}

.draw-box2 .draw-area .d-number {
  font-size: 0px;
  list-style-type: none;
  padding-left: 0px;
  padding-top: 0px;
}

.draw-box2 .draw-area .d-number li {
  color: white;
  font-size: 1.2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3px;
  width: 46px;
  height: 46px;
  margin: 2px 2px;
  background-color: #B30000;
  background-image: radial-gradient(farthest-corner at 15% 10px, #FFA3A3 0%, #B30000 100%);
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 100%;
}

@media only screen and (max-width: 767px) {
  .draw-box2 .draw-area .d-number li {
    margin-top: 3px;
  }
}

@media only screen and (max-width: 500px) {
  .draw-box2 .draw-area .d-number li {
    font-size: 1rem;
    width: 30px;
    height: 30px;
  }
}

.draw-box2 .draw-area .d-number span {
  font-size: 1.6rem;
  color: #5e5e5e;
}

.draw-box2 .draw-area .d-number .blue {
  background-color: #4A90E2;
  background-image: radial-gradient(farthest-corner at 50% 20px, #A8D0FF 0%, #4A90E2 100%);
  background-repeat: no-repeat;
  background-position: top;
}

.draw-box2 .draw-area .d-info {
  padding: 5px 0px;
}

.draw-box2 .draw-area .d-info h5 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  color: #CF5564;
}

.draw-box2 .draw-area .d-info .d-info-link {
  padding-top: 10px;
  text-align: center;
}

.draw-box2 .draw-area .d-info .d-info-link a {
  font-size: 1rem;
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 3px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-bottom: 1px solid #ccc;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
}

.draw-box2 .draw-o-title {
  font-size: 1.2rem;
  position: relative;
  padding: 10px 15px;
}

.draw-box2 .draw-o-title a {
  color: #353535;
  font-size: 0.8rem;
}

.draw-box2 .draw-o-title a:hover {
  color: #B30000;
}

.draw-box2 .draw-o-title:before {
  content: "";
  width: 5px;
  height: 25px;
  display: block;
  position: absolute;
  left: 0;
  background-color: #B30000;
}

.draw-o-list {
  font-size: 0px;
  list-style-type: none;
  padding-left: 0px;
}

@media only screen and (max-width: 767px) {
  .draw-o-list {
    margin-right: -10px;
  }
}

.draw-o-list li {
  display: inline-block;
  margin: 2px 3px;
}

@media only screen and (max-width: 767px) {
  .draw-o-list li {
    margin: 0px 1px;
    margin-top: 5px;
  }
}

.draw-o-list li a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
  border: 1px solid #bdbdbd;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 6px;
}

@media only screen and (max-width: 767px) {
  .draw-o-list li a {
    padding: 5px 8px;
  }
}

@media only screen and (max-width: 320px) {
  .draw-o-list li a {
    font-size: 0.85rem;
  }
}

.draw-o-list li a:hover {
  color: #B30000;
}

.draw-o-list li a.active {
  color: #D05A5A;
  border: 1px solid #D05A5A;
}

@media only screen and (max-width: 767px) {
  .draw-o-list li:nth-child(1) {
    width: 33%;
    text-align: center;
  }
  .draw-o-list li:nth-child(2) {
    width: 31.5%;
    text-align: center;
  }
  .draw-o-list li:nth-child(3) {
    width: 33%;
    text-align: center;
  }
  .draw-o-list li:nth-child(4) {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .draw-o-list li:nth-child(1) {
    width: 32%;
    text-align: center;
  }
  .draw-o-list li:nth-child(2) {
    width: 32%;
    text-align: center;
  }
  .draw-o-list li:nth-child(3) {
    width: 33%;
    text-align: center;
  }
  .draw-o-list li:nth-child(4) {
    width: 100%;
    text-align: center;
  }
}

.draw-o-n {
  font-size: 0px;
  list-style-type: none;
  padding-left: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.draw-o-n li {
  color: white;
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2px 3px;
  width: 26px;
  height: 26px;
  background-color: #B30000;
  background-image: radial-gradient(farthest-corner at 15% 10px, #FFA3A3 0%, #B30000 100%);
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 100%;
}

@media only screen and (max-width: 767px) {
  .draw-o-n li {
    margin-top: 3px;
  }
}

.draw-o-n span {
  font-size: 1.6rem;
  color: #5e5e5e;
}

.draw-o-n .blue {
  background-color: #4A90E2;
  background-image: radial-gradient(farthest-corner at 50% 20px, #A8D0FF 0%, #4A90E2 100%);
  background-repeat: no-repeat;
  background-position: top;
}

/***NEWS***/
.news-box2 {
  border-radius: 10px 10px 10px 10px;
  background: #ffffff;
  padding-bottom: 3px;
  -webkit-filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.2));
}

.news-box2 h1.newsmore {
  display: block;
  font-size: 1rem;
  text-align: right;
  padding: 18px;
  padding-left: 20px;
  border-bottom: 1px solid #d02015;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), to(#ffffff));
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.news-box2 h1.newsmore .news-title {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0px;
  left: 20px;
  margin-top: -5px;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: #B30000;
  background-image: radial-gradient(farthest-corner at 90% 20px, #FF4040 0%, #B30000 100%);
  background-repeat: no-repeat;
  background-position: top right;
}

.news-box2 h1.newsmore a {
  color: black;
  font-size: 0.9rem;
  text-decoration: none;
}

.news-box2 h1.newsmore a:hover {
  color: #B30000;
}

.news-box2 .news-list {
  list-style-type: none;
  padding-left: 20px;
}

.news-box2 .news-list li {
  padding: 5px;
}

.news-box2 .news-list li .date {
  color: #bdbdbd;
  font-size: 0.9rem;
}

.news-box2 .news-list li a {
  color: #181515;
}

.news-box2 .news-list li a:hover {
  color: #B30000;
}

/***下方廣告***/
.ad-bg {
  background-color: #FDF5D1;
  background-image: url(../images/index/adbg.png), radial-gradient(farthest-corner at 10% 40px, #E6E6E6 0%, #C5C9DA 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, top;
  /** background-image: url(../images/index/drawbg.jpg); 
    background-size: cover;**/
}

.ad-bg .adlink {
  display: block;
  width: 100%;
}

/***qrcode***/
.qr-bg {
  background-color: #FDF5D1;
  background-image: radial-gradient(farthest-corner at 50% 20px, #D05A5A 0%, #940C0C 100%);
  background-repeat: no-repeat;
  background-position: top;
}

.qr-bg .qr-box {
  color: white;
  padding: 16px;
  border-radius: 10px;
  background-color: #591414;
}

.qr-bg .qr-box p {
  padding: 3px 0px;
  margin-bottom: 0px;
}

/***side menu***/
.Button {
  height: 50px;
  position: relative;
  background: #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  overflow: hidden;
}

.nav-side-menu {
  font-size: 1.05rem;
  background-color: white;
  width: 100%;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
}

.nav-side-menu .menu-content {
  border-top: 1px solid #e0e0e0;
}

.nav-side-menu .brand {
  background-color: white;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 1.05rem;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  font-size: 1rem;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f0d7";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
  font-weight: 900;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  color: #B30000;
  background-color: #ffe2e2;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #ffe2e2;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #B30000;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  font-size: 0.95rem;
  background-color: #f7f7f7;
  border: none;
  padding: 0px;
  border-bottom: 1px solid #e0e0e0;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #ffe2e2;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
  position: absolute;
  top: 12px;
  left: 20px;
}

.nav-side-menu ul .sub-menu li.active:before,
.nav-side-menu li .sub-menu li.active:before {
  color: #B30000;
}

.nav-side-menu li {
  padding: 15px;
  padding-left: 30px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  text-align: left;
  border-radius: 0px;
}

.nav-side-menu li:last-child {
  border-bottom: 0px solid #e4e4e4;
}

.nav-side-menu li a {
  text-decoration: none;
  color: black;
}

.nav-side-menu .sub-menu li a {
  width: 100%;
  padding: 12px 12px 12px 45px;
  display: block;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  background-color: #ffe2e2;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 9px;
    font-size: 1.6rem;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .side-menu-list .menu-content {
    display: block;
  }
}

/*****自定义查询****/
.DropdownTab {
  min-width: 350px;
}

.DropdownTab .nav-tabs .nav-link {
  border: 0px solid transparent;
  border-radius: 0px;
  border-bottom: 1px solid #d1d1d1;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  padding: 10px 25px;
}

.DropdownTab .nav-tabs .nav-link.active {
  color: #f50000;
  border-color: #f50000;
}

.tab-card {
  padding: 10px 0px;
  padding-top: 20px;
}

.tab-card p {
  margin: 6px 0px;
}

.btn-draw {
  width: 122px;
  height: 42px;
  font-size: 16px;
  color: white;
  border: none;
  background: #e50014;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-draw:hover {
  color: white;
}

.btn-reset {
  width: 122px;
  height: 42px;
  font-size: 16px;
  color: #474747;
  border: none;
  background: #e6e6e6;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-reset:hover {
  color: #474747;
}

.zshu {
  margin-bottom: 10px;
  text-align: left;
  font: 14px/32px "Microsoft YaHei", "微软雅黑", Arial;
  color: #cfcfcf;
}

.tab-card input[type=text] {
  width: 100px;
  height: 30px;
  margin: 0 10px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.tab-card input[type=datep] {
  width: 100%;
  height: 34px;
  padding: 6px;
  margin: 0px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.news-area {
  padding: 0px 20px 0px 20px;
}

@media only screen and (max-width: 650px) {
  .news-area {
    padding: 0px;
  }
}

.news-area ul {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
}

.news-area ul li {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  padding: 15px 130px 15px 0px;
  position: relative;
}

@media only screen and (max-width: 650px) {
  .news-area ul li {
    padding: 10px;
  }
}

.news-area ul li a {
  color: #333;
}

.news-area ul li a:hover {
  color: #B30000;
}

.news-area ul li span {
  color: #ccc;
  position: absolute;
  right: 0;
  top: 15px;
}

@media only screen and (max-width: 650px) {
  .news-area ul li span {
    position: static;
    display: block;
    float: none !important;
  }
}

.news-area ul li:last-child {
  border-bottom: 0px;
}

.news-area .news-title {
  font-size: 1.5rem;
  width: 100%;
  padding-bottom: 10px;
  display: block;
}

.news-area .news-info {
  width: 100%;
  font-size: 0.9rem;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.news-area .news-info a {
  color: #949494;
}

.news-area .news-info a:hover {
  color: #B30000;
}

.news-area .news-info .news-date {
  color: #ccc;
}

.news-area .news-info .news-date span {
  margin: 0px 20px 0px 0px;
}

.news-area .news-info .news-list {
  color: #ccc;
}

.news-area .news-info .news-list span {
  margin: 0px 10px;
}

.news-area .news-com {
  font-size: 1rem;
  font-weight: 400;
  color: #828282;
  line-height: 190%;
}

@media only screen and (max-width: 850px) {
  .news-area .news-com img {
    width: 100%;
  }
}
/*# sourceMappingURL=TLstyle.css.map */