/*字色*/
$blue: #298fbd;
$blue2: #4A90E2;
$white: white;
$yellow: #ffc107;
$red: #D0021B;
$red2: #FF4C4C;
$green: #00D420;
$green2: #32AD86;
$green3: #29991E;
$black: #000;
$gray1: #5e5e5e;
$gray2: #9E9E9E;


$bg-color1: #298fbd;